/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--wght-text);
  background-image: var(--grid-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  font-family: var(--accent-font), fantasy;
  margin-block: clamp(100px, calc(100px + (101 - 100) * ((100vw - 375px) / (1440 - 375))), 101px);
  inline-size: clamp(375px, calc(375px + (700 - 375) * (100vw - 375px) / (1440 - 375)), 700px);
  padding-block: clamp(120px, calc(120px + (128 - 120) * ((100vw - 375px) / (1440 - 375))), 128px);
  border: 2px solid black;
  text-align: center;
  background-color: white;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  text-transform: uppercase;
}

.main {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  inline-size: clamp(375px, calc(375px + (700 - 375) * (100vw - 375px) / (1440 - 375)), 700px);
}

.card {
  background-color: white;
  border: 2px solid black;
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" 700;
  padding: 4px 10px;
  background-color: white;
  border-block-end: 2px solid black;
}

.card__image {
  position: relative;
  block-size: clamp(370px, calc(370px + (699 - 374) * ((100vw - 375px) / (1440 - 375))), 699px);
  inline-size: clamp(371px, calc(371px + (696 - 371) * ((100vw - 375px) / (1440 - 375))), 696px);
}

.card__photo {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__photo_filter-saturate-low {
  filter: saturate(25%);
}

.card__photo_filter-saturate-high {
  filter: saturate(400%);
}

.card__photo_filter-hue-rotate-35 {
  filter: hue-rotate(35deg);
}

.card__photo_filter-invert-saturate {
  filter: invert(100%) saturate(70%);
}

.card__photo_filter-sepia {
  filter: sepia(100%);
}

.card__photo_filter-blur {
  filter: blur(10px);
}

.card__photo_filter-hue-rotate-90 {
  filter: hue-rotate(90deg)
}

.card__watermark {
  position: absolute;
  inset-inline-end: clamp(11px, calc(11px + (25 - 11) * ((100vw - 375px) / (1440 - 375))), 25px);
  inset-block-start: 23px;
  color: var(--watermark-color, #000);
  text-shadow: 
    -1px 0 var(--watermark-shadow-color,#fff),
    0 1px var(--watermark-shadow-color,#fff), 
    1px 0 var(--watermark-shadow-color,#fff),
    0 -1px var(--watermark-shadow-color,#fff);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--watermark-shadow-color, #fff)) or
    (-webkit-text-stroke: 1px var(--watermark-shadow-color, #fff))
) {
  .watermark {
    -webkit-text-stroke: 1px var(--watermark-shadow-color, #fff);
    text-stroke: 1px var(--watermark-shadow-color, #fff);
    text-shadow: none;
  }
}

.content {
  display: flex;
  padding: 25px;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
  background-color: white;
  border-block-start: 2px solid black;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 27px;
  line-height: 21px;
  font-size: 18px;
}

.card__text_padding {
  padding-inline-end: 4px;
}

.card__actions {
  display: flex;
  align-items: center;
  gap: 4px;
}

.card__icon-button {
  background-color: white;
  padding: 0;
  display: inline-flex;
  cursor: pointer;
  width: 43px;
  height: 38px;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-color: transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: black;
}

.like-icon {
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s ease-in;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in;
  animation-delay: 0.3s;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 2px 2px 0 0 transparent;
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button::after {
  content: '';
  position: absolute;
  inset: 0;
  width: 0%;
  height: 100%;
  background-color: black;
  transition: width 0.5s ease-in-out;
  z-index: 1;
}

.card__like-button:hover::after {
  width: 100%;
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 black;
}

.button__text {
  position: relative;
  z-index: 2;
  color: white;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-weight: var(--wght-text, 400);
  line-height: 91%;
  mix-blend-mode: difference;
}

.save-dialog {
  display: flex;
  justify-content: center;
}

.footer__button-save {
  padding: 15px 20px;
  flex-direction: column;
  gap: 8px;
  margin-block-start: clamp(50px, calc(50px + (1 * (1440px - 100vw)) / (1440 - 375)), 51px);
  margin-block-end: 100px;
}

.footer__button-save:hover::after {
  width: 100%;
}

.footer__button-save:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 black;
}

.floppy-icon {
  position: relative;
  z-index: 2;
  color: white;
  mix-blend-mode: difference;
  block-size: clamp(22px, calc(28px - 6 * ((100vw - 375px) / 1065)), 28px);
  inline-size: clamp(22px, calc(28px - 6 * ((100vw - 375px) / 1065)), 28px);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 40px;
  inline-size: 341px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__floppy-icon {
  block-size: 39px;
  inline-size: 97px;
}

.dialog__button {
  inline-size: 257px;
  padding: 10px 17px;
  text-transform: uppercase;
}

.dialog__button:hover::after {
  width: 100%;
}

.dialog__button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 black;
}

@media (width < 375px) {
  .header,
  .main {
    inline-size: 100%;
  }

  .header__title {
    font-size: clamp(2rem, 1.6136rem + 6.1818vw, 3.0625rem);
  }

  .card__image {
    inline-size: 100%;
  }
}

@media (width >= 1440px) {
  .card__title {
    padding-block: 5px;
  }

  .footer__button-save {
    flex-direction: initial;
  }

  .dialog[open] {
    padding: 30px 25px;
    inline-size: 357px;
  }

  .dialog__text {
    margin-inline-end: 3px;
  }

  .dialog__content {
    gap: 15px;
  }

  .dialog__button {
    inline-size: 293px;
  }
}